BasedOnStyle: LLVM

Language: Cpp
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left

AccessModifierOffset: -4

ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

BinPackArguments: false
BinPackParameters: false

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[^.]*>$'
    Priority: 1
  - Regex: '^(<SFML/|<sol/|<imgui.h|.*json.hpp).*'
    Priority: 2
  - Regex: '.*'
    Priority: 3

SpaceAfterTemplateKeyword: true

AlignAfterOpenBracket: Align
AlignOperands: true
AlignTrailingComments: true

SpacesInParentheses: false
SpacesInAngles: false

IndentCaseLabels: true

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
